* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

.back-img {
    position: absolute;
    position: fixed;
    opacity: 0.4;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    z-index: -1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6a6a6a;
    border-radius: 6px;
}

li {
    float: right;
}

@media (max-width: 700px) {
    .navbar {
        width: 100%;
    }

    ul {
        display: flex;
        flex-direction: column-reverse;
    }

    li {
        width: 100%;
        text-align: center;
        flex: 0 0 auto;
        margin: auto;
    }

    .dropdown-content {
        width: 100%;
    }

    li a {
        width: 100%;
        padding: 16.5px 0px !important;
    }

    .dropdown-content a {
        width: 100%;
        padding: 12px 0 !important;
        text-align: center !important;
    }
}

li a,
.dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 16.5px 24px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover:not(.active),li span:hover {
    cursor: pointer;
    background-color: #66a9f7;
}

.active {
    background-color: #04AA6D;
}



li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e6dfdf;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 6px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}



.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 6px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.drop-icon {
    height: 1rem;
    width: auto;
}

.dropdown:hover .drop-icon {
    transition: 0.5s;
    transform: rotateZ(180deg);
}

.dropdown:not(:hover) .drop-icon {
    transition: 0.5s;
    transform: rotateZ(0deg);
}

.howerimg:hover {
    transition: 0.5s;
    transform: scale(1.15);
    cursor: pointer;
}

.howerimg:not(:hover) {
    transition: 0.5s;
    transform: scale(1);
}

footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #6a6a6a;
}


.footer-left {
    font-size: large;
    width: 450px;
    margin: 20px;
    height: 100%;
}



.fixed {
    position: fixed;
    background-color: #f1f1f1;
    opacity: 0.7;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    padding: 2px;
}